
<div class="row justify-content-end py-3">
  <div class="col-auto">
    <a class="btn btn-secondary btn-sm" href="portfolios/new">Make a New Portfolio</a>
  </div>
</div>
  <% if @portfolios.empty? %>
    <div class="row justify-content-center py-2">
      <div class="col-auto">
        <h4 class="primary-text font-weight-normal">(No portfolios created yet)</h4>
      </div>
    </div>
  <% else %>
    <% @portfolios.each do |portfolio|%>
      <dl>
        <dt class="primary-text"><%= portfolio.name %>
          <span class="secondary-text subtitle ml-3">Created: <%= portfolio.display_created_at %></span>
        </dt>
        <dd class="py-2">
          <div class="d-inline-block px-1">
            <a class="btn btn-secondary btn-sm" href="/portfolios/<%= portfolio.id %>">View Details</a>
          </div>
          <div class="d-inline-block px-1">
            <a class="btn btn-secondary btn-sm" href="/portfolios/<%= portfolio.id %>/edit">Edit</a>
          </div>
          <div class="d-inline-block px-1">
            <form method="POST" action="/portfolios/<%=portfolio.id%>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-secondary btn-sm" type="submit">Delete Portfolio</button>
            </form>
          </div>    
        </dd>
      </dl>    
    <% end %>
  <% end %>
</div>



