<div class="row justify-content-start py-3">
  <div class="col-auto">
    <h2 class="text-white">Portfolio - <%= @portfolio.name %>
       <span class="text-linen subtitle ml-3">Created: <%= @portfolio.created_at %></span>
    </h2>
  </div>
</div>

<% @portfolio.repos.each do |repo| %>
  <dl>
    <dt><%= repo.name %></dt>
      <dd>Created: <%= repo.created_at %></dd>  
      <dd>Last Updated: <%= repo.updated_at %></dd>
      <dd>Github Url: <a href="<%= repo.github_url %>"><%= repo.github_url %></a></dd>
      <dd>Description: <%= repo.description %></dd>
      <dd><a href="/repos/<%=repo.id%>/edit">Edit Repo</a></dd>
  </dl>
<% end %>

<form method="POST" action="/portfolios/<%=@portfolio.id%>">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Portfolio</button>
</form>
<a href="/portfolios/<%=@portfolio.id%>/edit">Edit Portfolio</a>
<a href="/portfolios">View All Portfolios</a>