<div id="portfolio-display">
  <div class="row justify-content-between py-3">
    <div class="col-auto">
      <h2 id="portfolio-title" class="primary-text">Portfolio - <%= @portfolio.name %>
        <span class="secondary-text subtitle ml-3">Created: <%= @portfolio.display_created_at %></span>
      </h2>
    </div>
    <div id="modify-portfolio-buttons" class="col-auto">
      <div class="d-inline-block">
        <a class="btn btn-secondary btn-sm" href="/portfolio_displays">View Displays</a>
      </div>
      <div class="d-inline-block">
        <a class="btn btn-secondary btn-sm" href="/portfolios/<%=@portfolio.id%>/edit">Edit</a>
      </div>
      <div class="d-inline-block">
        <form method="POST" action="/portfolios/<%=@portfolio.id%>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-secondary btn-sm" type="submit">Delete</button>
        </form>
      </div>
    </div>
  </div>

  <% @portfolio.repos.each do |repo| %>
    <dl>
      <dt class="primary-text"><%= repo.name %>
        <span class="secondary-text subtitle ml-3">Last Updated: <%= repo.display_updated_at %></span>
      </dt>
        <dd class="secondary-text font-italic"><%= repo.description %></dd>
        <dd><a class="secondary-text" href="<%= repo.github_url %>"><%= repo.github_url %></a></dd>
        <dd id="edit-repo-button"><a class="btn btn-secondary btn-sm mt-3" href="/repos/<%=repo.id%>/edit">Edit Repo</a></dd>
    </dl>
  <% end %>
</div>


