<div class="row justify-content-between py-3">
  <div class="col-auto">
    <h2 class="text-white">Portfolio - <%= @portfolio.name %>
       <span class="text-linen subtitle ml-3">Created: <%= @portfolio.created_at %></span>
    </h2>
  </div>
  <div class="col-auto">
    <div class="d-inline-block">
      <a class="btn btn-primary btn-sm" href="/portfolios/<%=@portfolio.id%>/edit">Edit Portfolio</a>
    </div>
    <div class="d-inline-block">
      <form method="POST" action="/portfolios/<%=@portfolio.id%>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-primary btn-sm" type="submit">Delete Portfolio</button>
      </form>
    </div>
  </div>
</div>

<% @portfolio.repos.each do |repo| %>
  <dl>
    <dt class="text-white"><%= repo.name %>
      <span class="text-linen subtitle ml-3">Last Updated: <%= repo.updated_at %></span>
    </dt>
      <dd class="text-linen"><%= repo.description %></dd>
      <dd><a class="text-plaster" href="<%= repo.github_url %>"><%= repo.github_url %></a></dd>
      <dd><a class="btn btn-primary btn-sm mt-3" href="/repos/<%=repo.id%>/edit">Edit Repo</a></dd>
  </dl>
<% end %>


